.selections {
 .container {
    position: relative;
 }
 .swiper-button-next,
  .swiper-button-prev {
    background-color: $bg-aqua;
    width: 29px;
    height: 29px;
    border-radius: 50%;

    &::after {
      font-size: 14px;
      color: $text-white;
    }

   
  }
  .swiper-button-next {
    right: 502px;
    &::after {
      margin-left: 2px;
    }
  }
  .swiper-button-prev {
    left: 44px;
    &::after {
      margin-right: 2px;
    }
  }
}