.title {
  font-size: 40px;
  font-weight: 500;
  color: $text-white;
}

.line-separator {
  max-width: 1343px;
  width: 100%;
  border-color: $bg-aqua;
  margin: 30px 0 40px;
}

.h4 {
  font-size: 22px;
  font-weight: 500;
  color: $text-white;
}
